/* Base styles for login page */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #f0f0f0;
    background-image: url("../images/marketplace_bg5.jpg");
    background-position: center;
    background-size: cover;
}

/* Centering the login container */
.login-container {
    width: 320px;
    height: fit-content;
    margin: 5% auto;
    padding: 40px;
    background: #ffffffd2;
    border: 1px solid #dddddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.inputs {
 gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-top: 1rem;
    margin-bottom: 1rem;    
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #007bff;
    border-radius: 4px;
    font-size: 14px;
    margin-bottom: 5px;
}

input :focus {
    border-color: #0056b3;
    box-shadow: 0 0 5px rgba(0, 86, 179, 0.5);
}

/* Login form header */
.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #007bff;
}

/* Form group styling */
.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #007bff;
}


.form-group input:focus {
    border-color: #0056b3;
    box-shadow: 0 0 5px rgba(0, 86, 179, 0.5);
}

p {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    color: #555555;
}

P a {
    color: #007bff;
    text-decoration: none;
}

/* Submit button styling */
button {
    width: 100%;
    padding: 12px;
    margin-left: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
    transform: translateX(0.5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

